.modal-overlay
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(black, 0.1)

  .modal-content
    background-color: white
    width: 600px
    margin-top: 200px
    margin: 200px auto 0 auto
    padding: 20px
    outline: none
