.home-container
  margin-top: 30px;

  .new-game-btn
    display: inline-block;
    width: 100%;
    color: white;
    background-color: #2ecc71;
    border: none;
    border-bottom: 3px solid darken(#2ecc71, 10%);
    padding: 14px;
    margin: 30px 0;